@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900");

* {
  box-sizing: border-box;
  font-family: "Inter";
  padding: 0;
  margin: 0;
}



h1 {
  color: #243e63;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.025em;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.692);
  transition: all 300ms ease;
}

button {
  border: none;
  padding: 16px 32px;
  background-color: rgb(100 21 255);
  border-radius: 50px;
  color: #fff;
  transition: all 300ms ease;
}

button:hover {
   background-color: rgba(80, 18, 202, 0.986);
}

input {
  border: 1px;
  font-size: 20px;
}
.btn__word {
  font-size: 16px;
  font-weight: 700;
}
a:hover {
  color: rgb(100 21 255);
}

li {
  list-style: none;
}

p {
  font-size: 20px;
  line-height: 1.5;
  width: 90%;
  color: #243e63;
}

.flex-1 {
  height: calc(100vh - 100px);
}

h1 {
  font-weight: 700;
  font-size: 50px;
  text-align: left;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 90px 0;
}

/*

NAVIGATION

*/

nav {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
}

.nav__link--anchor {
  margin: 0 24px;
  color: #243e63;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all 400ms ease;
}

.nav__link--anchor:hover {
  color: rgb(100 21 255);
  text-decoration: underline;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo--name {
  padding-left: 12px;
  font-size: 24px;
  font-weight: 900;
  color: #243e63;
}

.treact__logo {
  width: 40px;
}

.nav__link--anchor-primary {
  background-color: rgb(100 21 255);
  padding: 12px 32px;
  border-radius: 50px;
  color: #fff;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: rgba(80, 18, 202, 0.986);
  color: #fff;
  text-decoration: none;
}

/*ABOUT TREACT */

#Home {
  min-height: 100vh;
  padding: 32px;
  margin-bottom: 50px;
}

.about-treact--info__container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.treact__img {
  width: 700px;
}

.about-treact--info {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.about-treact--info__para {
  margin: 32px 0;
}

.section__form {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 80px;
  width: 90%;
}

.section__form--email {
  width: 100%;
  padding: 20px 192px 20px 32px;
  border: 2px solid lightgrey;
  border-radius: 32px;
  border-color: rgb(226, 232, 240);
  transition: all 300ms ease;
}

.section__form--email:hover {
  border-color: gray;
}

.section__form--btn {
  background-color: #6415ff;
  color: white;
  border-radius: 32px;
  transition: all 300ms ease;
  right: 6px;
  position: absolute;
}

.section__form--btn:hover {
  background-color: rgba(80, 18, 202, 0.986);
  color: #fff;
  cursor: pointer;
}

.treact__tags {
  width: 400px;
  opacity: 50%;
}

.tag__info {
  font-size: 16px;
  opacity: 30%;
  font-weight: 900;
  margin-bottom: 26px;
}

.text--purple {
  color: #6415ff;
}

/*

FEATURES

*/

#Features {
  height: 100vh;
  padding: 32px;
}

.feature__container {
  padding: 0 50px;
  margin: 0 auto;
}

.feature__row {
  margin-bottom: 50px;
}

.feature__info--wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 96px;
}

.feature__description {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  max-width: 36rem;
  margin: 0 auto;
}

.feature__tag {
  text-align: center;
  padding-bottom: 32px;
  color: #243e63;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.img__logo {
  padding: 12px 24px 12px 12px;
  display: flex;
  width: calc(100% / 3);
  margin-bottom: 50px;
}

.img__container {
  border: 1px solid lightgrey;
  width: 220px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 0 32px;
}

.img__icon {
  max-width: 200px;
}

.feature__header {
  padding-bottom: 20px;
  font-size: 16px;
  letter-spacing: 2px;
}

.img__info {
  display: flex;
  flex-direction: column;
}

.img__header {
  padding-bottom: 12px;
  color: #243e63;
}

.img__description {
  color: #7c8ba1;
  line-height: 2;
  font-size: 16px;
  width: 120%;
  font-weight: 500;
}

.logo {
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* ABOUT */

#About {
  height: 100vh;
  padding: 32px;
  margin-top: 60px;
}

.about__container {
  padding: 250px 0;
  display: flex;
  justify-content: center;
}

.about__row {
  display: flex;
  justify-content: space-around;
}

.design__info {
  width: 50%;
}

.two {
  width: 600px;
}

.two__container {
  width: 620px;
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.design__header {
  padding-bottom: 24px;
}

.design__para {
  line-height: 1.6;
  padding-bottom: 24px;
  color: #7c8ba1;
  font-size: 18px;
  font-weight: 500;
}

/* STEPS */

#steps {
  height: 100vh;
  
}

.three__container {
  border: none;
  width: 600px;
}



.wrapper {
  display: flex;
 
}



.number__wrapper {
  display: flex;
  padding-bottom: 32px;
}

.img__number {
  width: 8%;
  font-size: 36px;
  color: #CBD5E0;
}

.img__header {
  padding-left: 24px;
}

.container__one {
  padding: 200px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__header {
  padding: 0 50px 50px 0;
  font-weight: 900;
}

.steps__description {
  font-size: 14px;
  width: 85%;
  padding-left: 24px;
}

.title {
  font-weight: 700;
}

/* VALUES */

#Values {
  height: 100vh;
}

.promises {
  display: flex;
}

.inc {
  
  color: darkgreen;
  font-size: 20px;
  text-align: center;
 
}

.border {
  
  padding: 15px 15px 18px 18px;
  display: flex;
  width: 14%;
  height: 20%;
  border: none solid green;
  border-radius: 50px;
  background-color: rgb(154 230 180);
  
}

.lucky {
  padding-left: 32px;
  margin-bottom: 60px;
  font-weight: 700;
}

.values__para {
  font-size: 16px;
  color: #7c8ba1;
  padding-top: 12px;
}

.values__row {
  width: 45%;
}

.value__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  width: 100%;
  line-height: 1.6;
}

.values__header {
  font-weight: 900;
  padding: 12px 0;
}

.first__promise {
  padding: 18px 5px 0 5px;
}
.red {
  background-color: #FEB2B2;
}

/* PRICING */

#Pricing {
  height: 100vh;
  
}

.section__one {
  border: 2px solid black;
  width: 280px;
  height: 160px;
  border-radius: 4px;
  margin: bottom 30px;
}


.box__one {
   padding-top: 12px;
}

.box__two {
  padding-top: 12px;
}

.price {
  padding-left: 60px;
}

.time {
  padding-left: 24px;
}

.section__two {
  border: 2px solid black;
  width: 280px;
  height: 250px;
  margin: top 30px; 
  
  
}

.choice {
  text-align: center;
}

.choice__description {
  text-align: center;
}

.plan__btn {
  
  padding-left: 100px;
}

.btn {
  text-align: center;
}

.btn__wrapper {
  width: 50px;
}

.para {
  padding-bottom: 12px;
  text-align: center;
}

.time {
  text-align: center;
}

.section__three {
  border: 2px solid black;
  width: 280px;
  height: 100px;
  border-radius: 4px;
}

.box__three {
  padding-top: 24px;
}

.all__plans {
 padding-top: 50px;

  display: flex;
}

.plan {
   margin-bottom: 12px;
   margin-left: 100px;
}

.container__two {
  width: 100%;
  padding: 200px 100px;
  
}

.love__img {
  width: 700px;
}



.capper {
  display: flex;
  flex-direction: column;
  padding-left: 48px;
}

.stars {
  display: flex;
  padding-top: 32px;
  color: #fabf2a;
}

.user {
  padding: 24px 0;
  color: #243e63;
}

.man {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgb(0 0 0 / 60%);
  margin-bottom: 24px;
  animation: animate-profile-picture 800ms 200ms backwards;
}

.picture {
  width: 100%;
  transform: scale(1);
  
}

.flex {
  display: flex;
}

.founder {
  font-size: 16px;
}

.adam {
  font-size: 20px;
  color: #243e63;
}

.everything {
  padding: 10px 0 0 32px;
  display: flex;
  justify-content: space;
}

.duis {
  padding-bottom: 30px;
}

.koDYDN {
  position: relative;
  margin-top: 3rem;
  max-width: 56rem;
}

.fSCvgS {
  margin-top: 1.25rem;
  cursor: pointer;
  user-select: none;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(237 242 247 / var(--tw-bg-opacity));
  padding: 1.25rem 2rem;
  --tw-text-opacity: 1;
  color: rgb(45 55 72 / var(--tw-text-opacity));
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 300ms;
}

.dUGOWw {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.SingleCol__QuestionText-sc-1i4qirp-8 {
  font-size: 20px;
  font-weight: 600;
  color: #243e63;
}





